h1
{
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;

}


#one
{
color: darksalmon;
text-align: center;
}

#two
{
color: paleturquoise;
text-align: center;
}

#three
{
color: royalblue;
text-align: center;
}
